@model ITI.ExamSystem.Models.User

@{
    ViewData["Title"] = "EditStudent";
	Layout = "_Layout"; // Use the custom admin layout
}

<h1>EditStudent</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationDate" class="control-label"></label>
                <input asp-for="RegistrationDate" class="form-control" />
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImagePath" class="control-label"></label>
                <input asp-for="ProfileImagePath" class="form-control" />
                <span asp-validation-for="ProfileImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
				<a asp-action="ReadStudents" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>


