@model User
@{
    ViewData["Title"] = "Create Account";
}

<h2>Create Account</h2>

<partial name="_ValidationScriptsPartial" />

<form asp-action="Register" method="post">
     <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PasswordHash"></label>
        <input asp-for="PasswordHash" class="form-control" />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>

    @* <div class="form-group"> *@
    @*     <label asp-for="ConfirmPassword"></label> *@
    @*     <input asp-for="ConfirmPassword" class="form-control" /> *@
    @*     <span asp-validation-for="ConfirmPassword" class="text-danger"></span> *@
    @* </div> *@

    @* <div class="form-group"> *@
    @*     <label asp-for="Roles"></label> *@
    @*     <select asp-for="Roles" asp-items="Roles" class="form-control"> *@
    @*         <option value="">-- Select Role --</option> *@
    @*     </select> *@
    @*     <span asp-validation-for="Roles" class="text-danger"></span> *@
    @* </div> *@

    <button type="submit" class="btn btn-success">Register</button>
</form>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}